.OurTeam{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.OurTeam_name{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}
.members{
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.member_name{
    font-size: 23px;
}
